.blacklist {


    .tab_head {

        h4 {
            margin: 0 !important;
            color: white;
        }

        p {
            color: #007bff;
        }

    }


    .section {
        background: #232949;
        padding: 1rem;
        border-radius: 10px;
        color: black !important;
        height: 100%;

        h6 {
            font-weight: 600;
            margin-bottom: 0.5rem;
            font-size: 22px;
            color: #A78BFA;

        }

        p {
            font-weight: 400;
            color: #9ca3af;
            color: white;
        }

        ul {
            font-size: 18px;
            color: #38bdf8;
            font-weight: 600;
        }

        p {
            color: #38bdf8;
            font-weight: 600 !important;
            
            strong {
                color: #9ca3af;
                font-size: 18px !important;
                font-weight: 400 !important;
            }
        }
    }

}