.timelineContainer {
  display: flex;
  flex-direction: row; /* horizontal layout */
  gap: 40px;
  border-top: 3px solid rgba(255, 255, 255, 0.2); /* horizontal line */
  padding-top: 20px;
  justify-content: center;
}

.timelineItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timelineDot {
  position: absolute;
  top: -27px; /* move dot above content */
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  background: #0565E0;
  border-radius: 50%;
  border: 2px solid #1E293B;
}

.timelineContent {
  background: #1E293B;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  margin-top: 0px;
  text-align: center;
  min-width: 120px;
}

.timelineContent h4 {
  margin: 0;
  color: #FBBF24;
  font-size: 14px !important;
  font-weight: 500;
  letter-spacing: 1px;
}

.timelineContent p {
  margin: 3px 0 0;
  font-size: 12px !important;
  color: rgba(255, 255, 255, 0.8);
}
