.whoIsDetails {

    background-color: #111827;
    padding: 40px 30px;
    border-radius: 10px;

    
    .tab_head{

        h4{
            margin: 0 !important;
        }

        p{
            color: #007bff;
        }

    }

    .card {

        background-color: #232949;
        padding: 25px 25px;
        border-radius: 10px;
        height: 100%;

    }

}